@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&family=Caveat&family=Concert+One&family=Courgette&family=Dangrek&family=Fredoka+One&family=Itim&family=Neucha&family=Pacifico&family=Pangolin&family=Patrick+Hand&family=Sniglet&family=Sono:wght@300;400;500;600&family=Space+Mono&display=swap");

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.section {
  background: radial-gradient(ellipse at bottom, #f2f2fc 0%, #f2f2fc 100%);;
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
}

/* var(--bg-black-900) */

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1631px 365px #7a55d8, 756px 1915px #7a55d8, 954px 1389px #7a55d8,
    1097px 317px #7a55d8, 773px 777px #7a55d8, 1442px 341px #7a55d8, 431px 670px #7a55d8,
    578px 1244px #7a55d8, 420px 1296px #7a55d8, 1345px 490px #7a55d8, 895px 1179px #7a55d8,
    181px 347px #7a55d8, 1261px 751px #7a55d8, 1092px 1531px #7a55d8, 623px 1253px #7a55d8,
    736px 1277px #7a55d8, 928px 1216px #7a55d8, 1972px 879px #7a55d8, 1101px 1563px #7a55d8,
    1264px 1351px #7a55d8, 1448px 1269px #7a55d8, 680px 1151px #7a55d8, 390px 838px #7a55d8,
    64px 1036px #7a55d8, 1098px 722px #7a55d8, 1226px 1434px #7a55d8, 591px 791px #7a55d8,
    1405px 1499px #7a55d8, 80px 1158px #7a55d8, 788px 1973px #7a55d8, 1849px 1025px #7a55d8,
    816px 732px #7a55d8, 1624px 1116px #7a55d8, 1724px 361px #7a55d8, 722px 904px #7a55d8,
    1709px 1276px #7a55d8, 637px 1228px #7a55d8, 707px 1915px #7a55d8, 427px 97px #7a55d8,
    1726px 1128px #7a55d8, 957px 1343px #7a55d8, 1994px 1341px #7a55d8, 1420px 845px #7a55d8,
    140px 1250px #7a55d8, 807px 225px #7a55d8, 653px 1966px #7a55d8, 863px 1515px #7a55d8,
    1389px 1510px #7a55d8, 1116px 1324px #7a55d8, 994px 1012px #7a55d8, 905px 837px #7a55d8,
    1039px 818px #7a55d8, 1131px 987px #7a55d8, 833px 415px #7a55d8, 1718px 1047px #7a55d8,
    1339px 1153px #7a55d8, 1142px 682px #7a55d8, 935px 1711px #7a55d8, 1044px 510px #7a55d8,
    1330px 1422px #7a55d8, 1348px 765px #7a55d8, 543px 1617px #7a55d8, 818px 578px #7a55d8,
    1719px 1678px #7a55d8, 456px 1539px #7a55d8, 671px 1707px #7a55d8, 379px 329px #7a55d8,
    1319px 1703px #7a55d8, 761px 1949px #7a55d8, 1949px 605px #7a55d8, 1070px 1362px #7a55d8,
    668px 254px #7a55d8, 257px 418px #7a55d8, 763px 1674px #7a55d8, 1057px 862px #7a55d8,
    849px 1978px #7a55d8, 1149px 1539px #7a55d8, 322px 1429px #7a55d8, 523px 618px #7a55d8,
    861px 1663px #7a55d8, 1331px 1391px #7a55d8, 1156px 75px #7a55d8, 108px 1188px #7a55d8,
    1322px 870px #7a55d8, 1504px 865px #7a55d8, 1350px 1700px #7a55d8, 510px 1864px #7a55d8,
    164px 546px #7a55d8, 619px 1483px #7a55d8, 1169px 59px #7a55d8, 322px 1048px #7a55d8,
    149px 1857px #7a55d8, 1867px 1604px #7a55d8, 1200px 197px #7a55d8, 991px 1145px #7a55d8,
    1290px 910px #7a55d8, 1432px 1360px #7a55d8, 235px 663px #7a55d8, 1799px 1039px #7a55d8,
    1966px 972px #7a55d8, 465px 1169px #7a55d8, 894px 1751px #7a55d8, 1460px 1945px #7a55d8,
    337px 1480px #7a55d8, 442px 1683px #7a55d8, 1121px 37px #7a55d8, 727px 1248px #7a55d8,
    336px 576px #7a55d8, 448px 852px #7a55d8, 1352px 1028px #7a55d8, 1018px 1308px #7a55d8,
    1997px 1776px #7a55d8, 161px 508px #7a55d8, 1063px 1148px #7a55d8, 1123px 1253px #7a55d8,
    74px 1663px #7a55d8, 557px 140px #7a55d8, 1791px 1554px #7a55d8, 1201px 723px #7a55d8,
    247px 500px #7a55d8, 1715px 1432px #7a55d8, 967px 833px #7a55d8, 856px 304px #7a55d8,
    1683px 536px #7a55d8, 1200px 1919px #7a55d8, 385px 1835px #7a55d8, 187px 621px #7a55d8,
    918px 1612px #7a55d8, 463px 1539px #7a55d8, 1692px 552px #7a55d8, 1069px 1359px #7a55d8,
    871px 196px #7a55d8, 1184px 828px #7a55d8, 1125px 1529px #7a55d8, 972px 1644px #7a55d8,
    1177px 519px #7a55d8, 1201px 1271px #7a55d8, 1267px 1385px #7a55d8, 1728px 168px #7a55d8,
    240px 1512px #7a55d8, 89px 807px #7a55d8, 423px 1223px #7a55d8, 574px 22px #7a55d8,
    1592px 400px #7a55d8, 483px 534px #7a55d8, 1737px 722px #7a55d8, 1572px 1232px #7a55d8,
    1973px 1576px #7a55d8, 1809px 1547px #7a55d8, 728px 972px #7a55d8, 799px 659px #7a55d8,
    566px 1512px #7a55d8, 266px 1726px #7a55d8, 1881px 1206px #7a55d8, 1484px 940px #7a55d8,
    444px 999px #7a55d8, 1002px 1107px #7a55d8, 1396px 104px #7a55d8, 573px 1349px #7a55d8,
    878px 293px #7a55d8, 1735px 636px #7a55d8, 1902px 548px #7a55d8, 180px 1251px #7a55d8,
    901px 1758px #7a55d8, 398px 1197px #7a55d8, 1215px 35px #7a55d8, 1884px 99px #7a55d8,
    1521px 812px #7a55d8, 324px 743px #7a55d8, 1399px 559px #7a55d8, 312px 148px #7a55d8,
    834px 722px #7a55d8, 186px 1655px #7a55d8, 1821px 1672px #7a55d8, 1974px 1870px #7a55d8,
    554px 77px #7a55d8, 144px 1483px #7a55d8, 1746px 501px #7a55d8, 152px 1392px #7a55d8,
    1946px 239px #7a55d8, 1909px 1395px #7a55d8, 1679px 573px #7a55d8, 1630px 1899px #7a55d8,
    1728px 1907px #7a55d8, 1204px 242px #7a55d8, 145px 866px #7a55d8, 117px 329px #7a55d8,
    456px 890px #7a55d8, 1750px 1423px #7a55d8, 866px 1994px #7a55d8, 1474px 1203px #7a55d8,
    1895px 1511px #7a55d8, 166px 1730px #7a55d8, 321px 1605px #7a55d8, 39px 1154px #7a55d8,
    965px 972px #7a55d8, 206px 415px #7a55d8, 1981px 107px #7a55d8, 1399px 1057px #7a55d8,
    1754px 854px #7a55d8, 1895px 756px #7a55d8, 680px 1945px #7a55d8, 1732px 1826px #7a55d8,
    519px 581px #7a55d8, 1152px 77px #7a55d8, 1978px 1294px #7a55d8, 1620px 1423px #7a55d8,
    277px 431px #7a55d8, 1216px 1100px #7a55d8, 115px 1977px #7a55d8, 1146px 267px #7a55d8,
    671px 1770px #7a55d8, 884px 812px #7a55d8, 106px 172px #7a55d8, 1400px 1564px #7a55d8,
    1685px 1274px #7a55d8, 610px 1536px #7a55d8, 1839px 967px #7a55d8, 1860px 1203px #7a55d8,
    1285px 1787px #7a55d8, 1616px 470px #7a55d8, 602px 1760px #7a55d8, 215px 782px #7a55d8,
    1190px 950px #7a55d8, 1988px 562px #7a55d8, 1154px 310px #7a55d8, 1189px 650px #7a55d8,
    312px 1494px #7a55d8, 823px 348px #7a55d8, 1858px 271px #7a55d8, 489px 1012px #7a55d8,
    458px 1950px #7a55d8, 41px 1799px #7a55d8, 1076px 1875px #7a55d8, 695px 195px #7a55d8,
    28px 48px #7a55d8, 1778px 66px #7a55d8, 504px 1489px #7a55d8, 1051px 80px #7a55d8,
    1406px 1774px #7a55d8, 1732px 780px #7a55d8, 1118px 853px #7a55d8, 516px 285px #7a55d8,
    1515px 1087px #7a55d8, 889px 1246px #7a55d8, 1313px 1745px #7a55d8, 505px 1465px #7a55d8,
    214px 98px #7a55d8, 1127px 842px #7a55d8, 1707px 1251px #7a55d8, 1556px 122px #7a55d8,
    223px 1098px #7a55d8, 1169px 182px #7a55d8, 1013px 1982px #7a55d8, 1733px 443px #7a55d8,
    1614px 539px #7a55d8, 1820px 162px #7a55d8, 1247px 811px #7a55d8, 206px 1923px #7a55d8,
    286px 878px #7a55d8, 77px 915px #7a55d8, 864px 1153px #7a55d8, 1704px 285px #7a55d8,
    59px 1983px #7a55d8, 819px 1133px #7a55d8, 140px 1302px #7a55d8, 320px 1876px #7a55d8,
    951px 1286px #7a55d8, 584px 98px #7a55d8, 1487px 1129px #7a55d8, 1073px 1973px #7a55d8,
    174px 530px #7a55d8, 1461px 35px #7a55d8, 1413px 905px #7a55d8, 383px 814px #7a55d8,
    1150px 306px #7a55d8, 615px 1682px #7a55d8, 247px 1839px #7a55d8, 1382px 290px #7a55d8,
    1485px 1740px #7a55d8, 901px 1282px #7a55d8, 794px 937px #7a55d8, 612px 620px #7a55d8,
    1017px 250px #7a55d8, 989px 1353px #7a55d8, 1469px 906px #7a55d8, 1021px 1615px #7a55d8,
    1568px 367px #7a55d8, 1008px 729px #7a55d8, 1751px 1993px #7a55d8, 787px 547px #7a55d8,
    313px 1261px #7a55d8, 1292px 1876px #7a55d8, 1692px 756px #7a55d8, 821px 157px #7a55d8,
    1236px 418px #7a55d8, 1125px 1416px #7a55d8, 625px 907px #7a55d8, 1817px 1520px #7a55d8,
    558px 927px #7a55d8, 1545px 293px #7a55d8, 1328px 1175px #7a55d8, 845px 1499px #7a55d8,
    1733px 1680px #7a55d8, 150px 1327px #7a55d8, 378px 620px #7a55d8, 800px 1060px #7a55d8,
    1635px 1356px #7a55d8, 164px 1639px #7a55d8, 424px 269px #7a55d8, 1344px 602px #7a55d8,
    1008px 1560px #7a55d8, 515px 1489px #7a55d8, 1471px 1117px #7a55d8, 1410px 527px #7a55d8,
    387px 1335px #7a55d8, 1160px 1735px #7a55d8, 1375px 1594px #7a55d8,
    1658px 1375px #7a55d8, 216px 302px #7a55d8, 563px 386px #7a55d8, 1218px 226px #7a55d8,
    560px 1359px #7a55d8, 949px 1089px #7a55d8, 1736px 924px #7a55d8, 1018px 1374px #7a55d8,
    934px 1562px #7a55d8, 1224px 1712px #7a55d8, 559px 1348px #7a55d8, 1123px 218px #7a55d8,
    1073px 937px #7a55d8, 596px 1499px #7a55d8, 913px 951px #7a55d8, 357px 770px #7a55d8,
    495px 335px #7a55d8, 279px 104px #7a55d8, 758px 1659px #7a55d8, 655px 763px #7a55d8,
    1351px 636px #7a55d8, 1407px 1502px #7a55d8, 661px 688px #7a55d8, 1654px 671px #7a55d8,
    1783px 585px #7a55d8, 372px 304px #7a55d8, 1237px 1519px #7a55d8, 61px 973px #7a55d8,
    905px 331px #7a55d8, 1484px 1224px #7a55d8, 1500px 1927px #7a55d8, 593px 1262px #7a55d8,
    766px 604px #7a55d8, 730px 247px #7a55d8, 741px 1956px #7a55d8, 672px 609px #7a55d8,
    1192px 1552px #7a55d8, 1382px 1134px #7a55d8, 681px 1090px #7a55d8, 73px 1777px #7a55d8,
    46px 1068px #7a55d8, 199px 88px #7a55d8, 660px 136px #7a55d8, 437px 1047px #7a55d8,
    1157px 709px #7a55d8, 1424px 252px #7a55d8, 982px 657px #7a55d8, 981px 880px #7a55d8,
    263px 1319px #7a55d8, 1955px 1180px #7a55d8, 1469px 1531px #7a55d8, 171px 48px #7a55d8,
    148px 1050px #7a55d8, 1776px 693px #7a55d8, 1259px 294px #7a55d8, 738px 1554px #7a55d8,
    713px 819px #7a55d8, 187px 234px #7a55d8, 1665px 1890px #7a55d8, 835px 832px #7a55d8,
    1788px 1265px #7a55d8, 1275px 1181px #7a55d8, 1828px 1404px #7a55d8,
    1285px 857px #7a55d8, 1448px 1477px #7a55d8, 718px 402px #7a55d8, 265px 1515px #7a55d8,
    1067px 1336px #7a55d8, 1236px 142px #7a55d8, 1266px 94px #7a55d8, 598px 926px #7a55d8,
    1327px 21px #7a55d8, 1670px 630px #7a55d8, 1055px 716px #7a55d8, 396px 1740px #7a55d8,
    984px 1662px #7a55d8, 1793px 661px #7a55d8, 418px 1941px #7a55d8, 1571px 853px #7a55d8,
    977px 269px #7a55d8, 609px 302px #7a55d8, 671px 1795px #7a55d8, 1898px 1163px #7a55d8,
    1534px 483px #7a55d8, 1041px 1660px #7a55d8, 97px 420px #7a55d8, 1874px 964px #7a55d8,
    895px 747px #7a55d8, 588px 1939px #7a55d8, 1932px 710px #7a55d8, 1928px 1832px #7a55d8,
    491px 1532px #7a55d8, 234px 1628px #7a55d8, 1877px 1454px #7a55d8, 816px 1479px #7a55d8,
    357px 1884px #7a55d8, 1642px 1762px #7a55d8, 364px 1011px #7a55d8, 1732px 1826px #7a55d8,
    1451px 1008px #7a55d8, 1112px 767px #7a55d8, 1624px 412px #7a55d8, 1111px 1890px #7a55d8,
    734px 1050px #7a55d8, 1917px 1173px #7a55d8, 394px 1729px #7a55d8, 838px 657px #7a55d8,
    16px 564px #7a55d8, 1342px 1424px #7a55d8, 987px 478px #7a55d8, 349px 1609px #7a55d8,
    850px 179px #7a55d8, 984px 751px #7a55d8, 1549px 1188px #7a55d8, 297px 260px #7a55d8,
    1355px 226px #7a55d8, 385px 1278px #7a55d8, 678px 1533px #7a55d8, 1481px 1595px #7a55d8,
    1449px 27px #7a55d8, 1480px 828px #7a55d8, 1911px 87px #7a55d8, 923px 182px #7a55d8,
    1652px 1678px #7a55d8, 1340px 1295px #7a55d8, 1548px 1304px #7a55d8, 708px 170px #7a55d8,
    424px 1769px #7a55d8, 1604px 1731px #7a55d8, 916px 1382px #7a55d8, 658px 1482px #7a55d8,
    662px 1969px #7a55d8, 179px 1800px #7a55d8, 1459px 1041px #7a55d8, 642px 1215px #7a55d8,
    1160px 1492px #7a55d8, 159px 1234px #7a55d8, 1702px 1087px #7a55d8, 691px 1884px #7a55d8,
    1983px 1799px #7a55d8, 1344px 1824px #7a55d8, 269px 23px #7a55d8, 1666px 210px #7a55d8,
    928px 1111px #7a55d8, 257px 44px #7a55d8, 43px 227px #7a55d8, 394px 1999px #7a55d8,
    906px 1542px #7a55d8, 1661px 290px #7a55d8, 621px 1649px #7a55d8, 1917px 1613px #7a55d8,
    1389px 1217px #7a55d8, 673px 781px #7a55d8, 1736px 756px #7a55d8, 492px 1651px #7a55d8,
    1490px 574px #7a55d8, 1700px 1528px #7a55d8, 5px 537px #7a55d8, 1924px 1935px #7a55d8,
    688px 1270px #7a55d8, 1422px 488px #7a55d8, 408px 190px #7a55d8, 1307px 326px #7a55d8,
    1414px 1235px #7a55d8, 572px 1043px #7a55d8, 1328px 670px #7a55d8, 223px 1305px #7a55d8,
    1929px 1852px #7a55d8, 1701px 179px #7a55d8, 54px 209px #7a55d8, 1487px 1103px #7a55d8,
    884px 360px #7a55d8, 471px 1001px #7a55d8, 614px 1967px #7a55d8, 1673px 273px #7a55d8,
    1342px 1505px #7a55d8, 809px 272px #7a55d8, 460px 591px #7a55d8, 660px 350px #7a55d8,
    892px 1842px #7a55d8, 1216px 423px #7a55d8, 951px 156px #7a55d8, 1397px 669px #7a55d8,
    1624px 1497px #7a55d8, 625px 1717px #7a55d8, 1294px 1495px #7a55d8, 608px 705px #7a55d8,
    1019px 1645px #7a55d8, 1969px 1865px #7a55d8, 732px 1949px #7a55d8,
    1705px 1424px #7a55d8, 727px 1557px #7a55d8, 285px 1651px #7a55d8, 952px 597px #7a55d8,
    638px 232px #7a55d8, 766px 1427px #7a55d8, 1503px 608px #7a55d8, 1087px 1235px #7a55d8,
    1263px 1523px #7a55d8, 1378px 342px #7a55d8, 423px 1962px #7a55d8, 1353px 978px #7a55d8,
    772px 299px #7a55d8, 22px 1239px #7a55d8, 1737px 1664px #7a55d8, 1459px 1718px #7a55d8,
    1718px 1421px #7a55d8, 1070px 1893px #7a55d8, 1713px 1988px #7a55d8, 725px 65px #7a55d8,
    584px 1882px #7a55d8, 697px 767px #7a55d8, 119px 1111px #7a55d8, 1146px 833px #7a55d8,
    517px 696px #7a55d8, 1959px 821px #7a55d8, 1312px 1130px #7a55d8, 580px 1715px #7a55d8,
    932px 1179px #7a55d8, 1601px 588px #7a55d8, 156px 1679px #7a55d8, 90px 181px #7a55d8,
    1806px 1961px #7a55d8, 1983px 849px #7a55d8, 1915px 367px #7a55d8, 337px 1805px #7a55d8,
    946px 197px #7a55d8, 985px 1566px #7a55d8, 1314px 590px #7a55d8, 1887px 1622px #7a55d8,
    976px 568px #7a55d8, 985px 850px #7a55d8, 40px 1635px #7a55d8, 767px 1489px #7a55d8,
    612px 457px #7a55d8, 1506px 79px #7a55d8, 1827px 36px #7a55d8, 329px 1648px #7a55d8,
    639px 664px #7a55d8, 772px 650px #7a55d8, 772px 1635px #7a55d8, 1050px 1929px #7a55d8,
    1831px 327px #7a55d8, 156px 1237px #7a55d8, 54px 331px #7a55d8, 1605px 525px #7a55d8,
    1319px 1164px #7a55d8, 207px 996px #7a55d8, 1399px 179px #7a55d8, 779px 1029px #7a55d8,
    1710px 1708px #7a55d8, 156px 1895px #7a55d8, 454px 751px #7a55d8, 502px 1202px #7a55d8,
    1161px 621px #7a55d8, 1704px 1690px #7a55d8, 1006px 100px #7a55d8, 353px 1048px #7a55d8,
    24px 1248px #7a55d8, 1028px 306px #7a55d8, 822px 882px #7a55d8, 482px 1785px #7a55d8,
    62px 265px #7a55d8, 1607px 1347px #7a55d8, 99px 1234px #7a55d8, 133px 469px #7a55d8,
    884px 402px #7a55d8, 1602px 1415px #7a55d8, 1169px 1837px #7a55d8, 1516px 177px #7a55d8,
    1385px 451px #7a55d8, 128px 1492px #7a55d8, 362px 1501px #7a55d8, 1719px 681px #7a55d8,
    410px 558px #7a55d8, 1239px 1749px #7a55d8, 1927px 576px #7a55d8, 1255px 1964px #7a55d8,
    399px 142px #7a55d8, 760px 780px #7a55d8, 771px 865px #7a55d8, 794px 66px #7a55d8,
    598px 1887px #7a55d8, 1616px 1071px #7a55d8, 193px 1564px #7a55d8, 888px 39px #7a55d8,
    773px 1596px #7a55d8, 76px 1272px #7a55d8, 1160px 1057px #7a55d8, 1436px 766px #7a55d8,
    132px 564px #7a55d8, 1881px 1232px #7a55d8, 1001px 1455px #7a55d8, 48px 772px #7a55d8,
    1886px 528px #7a55d8, 932px 546px #7a55d8, 769px 1727px #7a55d8, 1184px 166px #7a55d8,
    468px 608px #7a55d8, 1581px 94px #7a55d8, 1406px 123px #7a55d8, 1769px 700px #7a55d8,
    790px 1354px #7a55d8, 1665px 1903px #7a55d8, 1130px 1040px #7a55d8, 1147px 877px #7a55d8,
    1996px 1801px #7a55d8, 1943px 1363px #7a55d8, 91px 1136px #7a55d8, 1554px 1684px #7a55d8,
    409px 1984px #7a55d8, 1037px 1481px #7a55d8, 934px 1053px #7a55d8, 452px 864px #7a55d8,
    640px 1916px #7a55d8, 1569px 1859px #7a55d8, 1300px 1041px #7a55d8, 365px 1871px #7a55d8,
    1841px 1797px #7a55d8, 1573px 161px #7a55d8, 405px 1933px #7a55d8, 289px 680px #7a55d8,
    452px 1064px #7a55d8, 1728px 1107px #7a55d8, 469px 1563px #7a55d8, 1736px 1830px #7a55d8,
    702px 1586px #7a55d8, 1286px 362px #7a55d8, 685px 139px #7a55d8, 1269px 382px #7a55d8,
    907px 227px #7a55d8, 854px 484px #7a55d8, 1449px 1320px #7a55d8, 400px 109px #7a55d8,
    1907px 1989px #7a55d8, 1625px 93px #7a55d8, 1942px 1345px #7a55d8, 810px 944px #7a55d8,
    1807px 1180px #7a55d8, 62px 1070px #7a55d8, 484px 850px #7a55d8, 574px 1262px #7a55d8,
    899px 51px #7a55d8, 1494px 1607px #7a55d8, 735px 1761px #7a55d8, 723px 34px #7a55d8,
    873px 242px #7a55d8, 1308px 1735px #7a55d8, 806px 1605px #7a55d8, 1431px 750px #7a55d8,
    1549px 1117px #7a55d8, 663px 825px #7a55d8, 1194px 406px #7a55d8, 808px 667px #7a55d8,
    830px 1416px #7a55d8, 1023px 506px #7a55d8, 1297px 312px #7a55d8, 131px 139px #7a55d8,
    731px 1792px #7a55d8, 1319px 875px #7a55d8, 1994px 1375px #7a55d8, 584px 1592px #7a55d8,
    1871px 1798px #7a55d8, 1842px 1394px #7a55d8, 438px 295px #7a55d8, 612px 1477px #7a55d8,
    595px 180px #7a55d8, 44px 481px #7a55d8, 1882px 1447px #7a55d8, 493px 806px #7a55d8,
    1595px 1024px #7a55d8, 277px 1756px #7a55d8, 1745px 322px #7a55d8, 908px 447px #7a55d8,
    1259px 101px #7a55d8, 1450px 1297px #7a55d8, 528px 324px #7a55d8, 1285px 612px #7a55d8,
    1154px 1208px #7a55d8, 1048px 1588px #7a55d8, 1105px 1439px #7a55d8, 408px 900px #7a55d8;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1631px 365px #7a55d8, 756px 1915px #7a55d8, 954px 1389px #7a55d8,
    1097px 317px #7a55d8, 773px 777px #7a55d8, 1442px 341px #7a55d8, 431px 670px #7a55d8,
    578px 1244px #7a55d8, 420px 1296px #7a55d8, 1345px 490px #7a55d8, 895px 1179px #7a55d8,
    181px 347px #7a55d8, 1261px 751px #7a55d8, 1092px 1531px #7a55d8, 623px 1253px #7a55d8,
    736px 1277px #7a55d8, 928px 1216px #7a55d8, 1972px 879px #7a55d8, 1101px 1563px #7a55d8,
    1264px 1351px #7a55d8, 1448px 1269px #7a55d8, 680px 1151px #7a55d8, 390px 838px #7a55d8,
    64px 1036px #7a55d8, 1098px 722px #7a55d8, 1226px 1434px #7a55d8, 591px 791px #7a55d8,
    1405px 1499px #7a55d8, 80px 1158px #7a55d8, 788px 1973px #7a55d8, 1849px 1025px #7a55d8,
    816px 732px #7a55d8, 1624px 1116px #7a55d8, 1724px 361px #7a55d8, 722px 904px #7a55d8,
    1709px 1276px #7a55d8, 637px 1228px #7a55d8, 707px 1915px #7a55d8, 427px 97px #7a55d8,
    1726px 1128px #7a55d8, 957px 1343px #7a55d8, 1994px 1341px #7a55d8, 1420px 845px #7a55d8,
    140px 1250px #7a55d8, 807px 225px #7a55d8, 653px 1966px #7a55d8, 863px 1515px #7a55d8,
    1389px 1510px #7a55d8, 1116px 1324px #7a55d8, 994px 1012px #7a55d8, 905px 837px #7a55d8,
    1039px 818px #7a55d8, 1131px 987px #7a55d8, 833px 415px #7a55d8, 1718px 1047px #7a55d8,
    1339px 1153px #7a55d8, 1142px 682px #7a55d8, 935px 1711px #7a55d8, 1044px 510px #7a55d8,
    1330px 1422px #7a55d8, 1348px 765px #7a55d8, 543px 1617px #7a55d8, 818px 578px #7a55d8,
    1719px 1678px #7a55d8, 456px 1539px #7a55d8, 671px 1707px #7a55d8, 379px 329px #7a55d8,
    1319px 1703px #7a55d8, 761px 1949px #7a55d8, 1949px 605px #7a55d8, 1070px 1362px #7a55d8,
    668px 254px #7a55d8, 257px 418px #7a55d8, 763px 1674px #7a55d8, 1057px 862px #7a55d8,
    849px 1978px #7a55d8, 1149px 1539px #7a55d8, 322px 1429px #7a55d8, 523px 618px #7a55d8,
    861px 1663px #7a55d8, 1331px 1391px #7a55d8, 1156px 75px #7a55d8, 108px 1188px #7a55d8,
    1322px 870px #7a55d8, 1504px 865px #7a55d8, 1350px 1700px #7a55d8, 510px 1864px #7a55d8,
    164px 546px #7a55d8, 619px 1483px #7a55d8, 1169px 59px #7a55d8, 322px 1048px #7a55d8,
    149px 1857px #7a55d8, 1867px 1604px #7a55d8, 1200px 197px #7a55d8, 991px 1145px #7a55d8,
    1290px 910px #7a55d8, 1432px 1360px #7a55d8, 235px 663px #7a55d8, 1799px 1039px #7a55d8,
    1966px 972px #7a55d8, 465px 1169px #7a55d8, 894px 1751px #7a55d8, 1460px 1945px #7a55d8,
    337px 1480px #7a55d8, 442px 1683px #7a55d8, 1121px 37px #7a55d8, 727px 1248px #7a55d8,
    336px 576px #7a55d8, 448px 852px #7a55d8, 1352px 1028px #7a55d8, 1018px 1308px #7a55d8,
    1997px 1776px #7a55d8, 161px 508px #7a55d8, 1063px 1148px #7a55d8, 1123px 1253px #7a55d8,
    74px 1663px #7a55d8, 557px 140px #7a55d8, 1791px 1554px #7a55d8, 1201px 723px #7a55d8,
    247px 500px #7a55d8, 1715px 1432px #7a55d8, 967px 833px #7a55d8, 856px 304px #7a55d8,
    1683px 536px #7a55d8, 1200px 1919px #7a55d8, 385px 1835px #7a55d8, 187px 621px #7a55d8,
    918px 1612px #7a55d8, 463px 1539px #7a55d8, 1692px 552px #7a55d8, 1069px 1359px #7a55d8,
    871px 196px #7a55d8, 1184px 828px #7a55d8, 1125px 1529px #7a55d8, 972px 1644px #7a55d8,
    1177px 519px #7a55d8, 1201px 1271px #7a55d8, 1267px 1385px #7a55d8, 1728px 168px #7a55d8,
    240px 1512px #7a55d8, 89px 807px #7a55d8, 423px 1223px #7a55d8, 574px 22px #7a55d8,
    1592px 400px #7a55d8, 483px 534px #7a55d8, 1737px 722px #7a55d8, 1572px 1232px #7a55d8,
    1973px 1576px #7a55d8, 1809px 1547px #7a55d8, 728px 972px #7a55d8, 799px 659px #7a55d8,
    566px 1512px #7a55d8, 266px 1726px #7a55d8, 1881px 1206px #7a55d8, 1484px 940px #7a55d8,
    444px 999px #7a55d8, 1002px 1107px #7a55d8, 1396px 104px #7a55d8, 573px 1349px #7a55d8,
    878px 293px #7a55d8, 1735px 636px #7a55d8, 1902px 548px #7a55d8, 180px 1251px #7a55d8,
    901px 1758px #7a55d8, 398px 1197px #7a55d8, 1215px 35px #7a55d8, 1884px 99px #7a55d8,
    1521px 812px #7a55d8, 324px 743px #7a55d8, 1399px 559px #7a55d8, 312px 148px #7a55d8,
    834px 722px #7a55d8, 186px 1655px #7a55d8, 1821px 1672px #7a55d8, 1974px 1870px #7a55d8,
    554px 77px #7a55d8, 144px 1483px #7a55d8, 1746px 501px #7a55d8, 152px 1392px #7a55d8,
    1946px 239px #7a55d8, 1909px 1395px #7a55d8, 1679px 573px #7a55d8, 1630px 1899px #7a55d8,
    1728px 1907px #7a55d8, 1204px 242px #7a55d8, 145px 866px #7a55d8, 117px 329px #7a55d8,
    456px 890px #7a55d8, 1750px 1423px #7a55d8, 866px 1994px #7a55d8, 1474px 1203px #7a55d8,
    1895px 1511px #7a55d8, 166px 1730px #7a55d8, 321px 1605px #7a55d8, 39px 1154px #7a55d8,
    965px 972px #7a55d8, 206px 415px #7a55d8, 1981px 107px #7a55d8, 1399px 1057px #7a55d8,
    1754px 854px #7a55d8, 1895px 756px #7a55d8, 680px 1945px #7a55d8, 1732px 1826px #7a55d8,
    519px 581px #7a55d8, 1152px 77px #7a55d8, 1978px 1294px #7a55d8, 1620px 1423px #7a55d8,
    277px 431px #7a55d8, 1216px 1100px #7a55d8, 115px 1977px #7a55d8, 1146px 267px #7a55d8,
    671px 1770px #7a55d8, 884px 812px #7a55d8, 106px 172px #7a55d8, 1400px 1564px #7a55d8,
    1685px 1274px #7a55d8, 610px 1536px #7a55d8, 1839px 967px #7a55d8, 1860px 1203px #7a55d8,
    1285px 1787px #7a55d8, 1616px 470px #7a55d8, 602px 1760px #7a55d8, 215px 782px #7a55d8,
    1190px 950px #7a55d8, 1988px 562px #7a55d8, 1154px 310px #7a55d8, 1189px 650px #7a55d8,
    312px 1494px #7a55d8, 823px 348px #7a55d8, 1858px 271px #7a55d8, 489px 1012px #7a55d8,
    458px 1950px #7a55d8, 41px 1799px #7a55d8, 1076px 1875px #7a55d8, 695px 195px #7a55d8,
    28px 48px #7a55d8, 1778px 66px #7a55d8, 504px 1489px #7a55d8, 1051px 80px #7a55d8,
    1406px 1774px #7a55d8, 1732px 780px #7a55d8, 1118px 853px #7a55d8, 516px 285px #7a55d8,
    1515px 1087px #7a55d8, 889px 1246px #7a55d8, 1313px 1745px #7a55d8, 505px 1465px #7a55d8,
    214px 98px #7a55d8, 1127px 842px #7a55d8, 1707px 1251px #7a55d8, 1556px 122px #7a55d8,
    223px 1098px #7a55d8, 1169px 182px #7a55d8, 1013px 1982px #7a55d8, 1733px 443px #7a55d8,
    1614px 539px #7a55d8, 1820px 162px #7a55d8, 1247px 811px #7a55d8, 206px 1923px #7a55d8,
    286px 878px #7a55d8, 77px 915px #7a55d8, 864px 1153px #7a55d8, 1704px 285px #7a55d8,
    59px 1983px #7a55d8, 819px 1133px #7a55d8, 140px 1302px #7a55d8, 320px 1876px #7a55d8,
    951px 1286px #7a55d8, 584px 98px #7a55d8, 1487px 1129px #7a55d8, 1073px 1973px #7a55d8,
    174px 530px #7a55d8, 1461px 35px #7a55d8, 1413px 905px #7a55d8, 383px 814px #7a55d8,
    1150px 306px #7a55d8, 615px 1682px #7a55d8, 247px 1839px #7a55d8, 1382px 290px #7a55d8,
    1485px 1740px #7a55d8, 901px 1282px #7a55d8, 794px 937px #7a55d8, 612px 620px #7a55d8,
    1017px 250px #7a55d8, 989px 1353px #7a55d8, 1469px 906px #7a55d8, 1021px 1615px #7a55d8,
    1568px 367px #7a55d8, 1008px 729px #7a55d8, 1751px 1993px #7a55d8, 787px 547px #7a55d8,
    313px 1261px #7a55d8, 1292px 1876px #7a55d8, 1692px 756px #7a55d8, 821px 157px #7a55d8,
    1236px 418px #7a55d8, 1125px 1416px #7a55d8, 625px 907px #7a55d8, 1817px 1520px #7a55d8,
    558px 927px #7a55d8, 1545px 293px #7a55d8, 1328px 1175px #7a55d8, 845px 1499px #7a55d8,
    1733px 1680px #7a55d8, 150px 1327px #7a55d8, 378px 620px #7a55d8, 800px 1060px #7a55d8,
    1635px 1356px #7a55d8, 164px 1639px #7a55d8, 424px 269px #7a55d8, 1344px 602px #7a55d8,
    1008px 1560px #7a55d8, 515px 1489px #7a55d8, 1471px 1117px #7a55d8, 1410px 527px #7a55d8,
    387px 1335px #7a55d8, 1160px 1735px #7a55d8, 1375px 1594px #7a55d8,
    1658px 1375px #7a55d8, 216px 302px #7a55d8, 563px 386px #7a55d8, 1218px 226px #7a55d8,
    560px 1359px #7a55d8, 949px 1089px #7a55d8, 1736px 924px #7a55d8, 1018px 1374px #7a55d8,
    934px 1562px #7a55d8, 1224px 1712px #7a55d8, 559px 1348px #7a55d8, 1123px 218px #7a55d8,
    1073px 937px #7a55d8, 596px 1499px #7a55d8, 913px 951px #7a55d8, 357px 770px #7a55d8,
    495px 335px #7a55d8, 279px 104px #7a55d8, 758px 1659px #7a55d8, 655px 763px #7a55d8,
    1351px 636px #7a55d8, 1407px 1502px #7a55d8, 661px 688px #7a55d8, 1654px 671px #7a55d8,
    1783px 585px #7a55d8, 372px 304px #7a55d8, 1237px 1519px #7a55d8, 61px 973px #7a55d8,
    905px 331px #7a55d8, 1484px 1224px #7a55d8, 1500px 1927px #7a55d8, 593px 1262px #7a55d8,
    766px 604px #7a55d8, 730px 247px #7a55d8, 741px 1956px #7a55d8, 672px 609px #7a55d8,
    1192px 1552px #7a55d8, 1382px 1134px #7a55d8, 681px 1090px #7a55d8, 73px 1777px #7a55d8,
    46px 1068px #7a55d8, 199px 88px #7a55d8, 660px 136px #7a55d8, 437px 1047px #7a55d8,
    1157px 709px #7a55d8, 1424px 252px #7a55d8, 982px 657px #7a55d8, 981px 880px #7a55d8,
    263px 1319px #7a55d8, 1955px 1180px #7a55d8, 1469px 1531px #7a55d8, 171px 48px #7a55d8,
    148px 1050px #7a55d8, 1776px 693px #7a55d8, 1259px 294px #7a55d8, 738px 1554px #7a55d8,
    713px 819px #7a55d8, 187px 234px #7a55d8, 1665px 1890px #7a55d8, 835px 832px #7a55d8,
    1788px 1265px #7a55d8, 1275px 1181px #7a55d8, 1828px 1404px #7a55d8,
    1285px 857px #7a55d8, 1448px 1477px #7a55d8, 718px 402px #7a55d8, 265px 1515px #7a55d8,
    1067px 1336px #7a55d8, 1236px 142px #7a55d8, 1266px 94px #7a55d8, 598px 926px #7a55d8,
    1327px 21px #7a55d8, 1670px 630px #7a55d8, 1055px 716px #7a55d8, 396px 1740px #7a55d8,
    984px 1662px #7a55d8, 1793px 661px #7a55d8, 418px 1941px #7a55d8, 1571px 853px #7a55d8,
    977px 269px #7a55d8, 609px 302px #7a55d8, 671px 1795px #7a55d8, 1898px 1163px #7a55d8,
    1534px 483px #7a55d8, 1041px 1660px #7a55d8, 97px 420px #7a55d8, 1874px 964px #7a55d8,
    895px 747px #7a55d8, 588px 1939px #7a55d8, 1932px 710px #7a55d8, 1928px 1832px #7a55d8,
    491px 1532px #7a55d8, 234px 1628px #7a55d8, 1877px 1454px #7a55d8, 816px 1479px #7a55d8,
    357px 1884px #7a55d8, 1642px 1762px #7a55d8, 364px 1011px #7a55d8, 1732px 1826px #7a55d8,
    1451px 1008px #7a55d8, 1112px 767px #7a55d8, 1624px 412px #7a55d8, 1111px 1890px #7a55d8,
    734px 1050px #7a55d8, 1917px 1173px #7a55d8, 394px 1729px #7a55d8, 838px 657px #7a55d8,
    16px 564px #7a55d8, 1342px 1424px #7a55d8, 987px 478px #7a55d8, 349px 1609px #7a55d8,
    850px 179px #7a55d8, 984px 751px #7a55d8, 1549px 1188px #7a55d8, 297px 260px #7a55d8,
    1355px 226px #7a55d8, 385px 1278px #7a55d8, 678px 1533px #7a55d8, 1481px 1595px #7a55d8,
    1449px 27px #7a55d8, 1480px 828px #7a55d8, 1911px 87px #7a55d8, 923px 182px #7a55d8,
    1652px 1678px #7a55d8, 1340px 1295px #7a55d8, 1548px 1304px #7a55d8, 708px 170px #7a55d8,
    424px 1769px #7a55d8, 1604px 1731px #7a55d8, 916px 1382px #7a55d8, 658px 1482px #7a55d8,
    662px 1969px #7a55d8, 179px 1800px #7a55d8, 1459px 1041px #7a55d8, 642px 1215px #7a55d8,
    1160px 1492px #7a55d8, 159px 1234px #7a55d8, 1702px 1087px #7a55d8, 691px 1884px #7a55d8,
    1983px 1799px #7a55d8, 1344px 1824px #7a55d8, 269px 23px #7a55d8, 1666px 210px #7a55d8,
    928px 1111px #7a55d8, 257px 44px #7a55d8, 43px 227px #7a55d8, 394px 1999px #7a55d8,
    906px 1542px #7a55d8, 1661px 290px #7a55d8, 621px 1649px #7a55d8, 1917px 1613px #7a55d8,
    1389px 1217px #7a55d8, 673px 781px #7a55d8, 1736px 756px #7a55d8, 492px 1651px #7a55d8,
    1490px 574px #7a55d8, 1700px 1528px #7a55d8, 5px 537px #7a55d8, 1924px 1935px #7a55d8,
    688px 1270px #7a55d8, 1422px 488px #7a55d8, 408px 190px #7a55d8, 1307px 326px #7a55d8,
    1414px 1235px #7a55d8, 572px 1043px #7a55d8, 1328px 670px #7a55d8, 223px 1305px #7a55d8,
    1929px 1852px #7a55d8, 1701px 179px #7a55d8, 54px 209px #7a55d8, 1487px 1103px #7a55d8,
    884px 360px #7a55d8, 471px 1001px #7a55d8, 614px 1967px #7a55d8, 1673px 273px #7a55d8,
    1342px 1505px #7a55d8, 809px 272px #7a55d8, 460px 591px #7a55d8, 660px 350px #7a55d8,
    892px 1842px #7a55d8, 1216px 423px #7a55d8, 951px 156px #7a55d8, 1397px 669px #7a55d8,
    1624px 1497px #7a55d8, 625px 1717px #7a55d8, 1294px 1495px #7a55d8, 608px 705px #7a55d8,
    1019px 1645px #7a55d8, 1969px 1865px #7a55d8, 732px 1949px #7a55d8,
    1705px 1424px #7a55d8, 727px 1557px #7a55d8, 285px 1651px #7a55d8, 952px 597px #7a55d8,
    638px 232px #7a55d8, 766px 1427px #7a55d8, 1503px 608px #7a55d8, 1087px 1235px #7a55d8,
    1263px 1523px #7a55d8, 1378px 342px #7a55d8, 423px 1962px #7a55d8, 1353px 978px #7a55d8,
    772px 299px #7a55d8, 22px 1239px #7a55d8, 1737px 1664px #7a55d8, 1459px 1718px #7a55d8,
    1718px 1421px #7a55d8, 1070px 1893px #7a55d8, 1713px 1988px #7a55d8, 725px 65px #7a55d8,
    584px 1882px #7a55d8, 697px 767px #7a55d8, 119px 1111px #7a55d8, 1146px 833px #7a55d8,
    517px 696px #7a55d8, 1959px 821px #7a55d8, 1312px 1130px #7a55d8, 580px 1715px #7a55d8,
    932px 1179px #7a55d8, 1601px 588px #7a55d8, 156px 1679px #7a55d8, 90px 181px #7a55d8,
    1806px 1961px #7a55d8, 1983px 849px #7a55d8, 1915px 367px #7a55d8, 337px 1805px #7a55d8,
    946px 197px #7a55d8, 985px 1566px #7a55d8, 1314px 590px #7a55d8, 1887px 1622px #7a55d8,
    976px 568px #7a55d8, 985px 850px #7a55d8, 40px 1635px #7a55d8, 767px 1489px #7a55d8,
    612px 457px #7a55d8, 1506px 79px #7a55d8, 1827px 36px #7a55d8, 329px 1648px #7a55d8,
    639px 664px #7a55d8, 772px 650px #7a55d8, 772px 1635px #7a55d8, 1050px 1929px #7a55d8,
    1831px 327px #7a55d8, 156px 1237px #7a55d8, 54px 331px #7a55d8, 1605px 525px #7a55d8,
    1319px 1164px #7a55d8, 207px 996px #7a55d8, 1399px 179px #7a55d8, 779px 1029px #7a55d8,
    1710px 1708px #7a55d8, 156px 1895px #7a55d8, 454px 751px #7a55d8, 502px 1202px #7a55d8,
    1161px 621px #7a55d8, 1704px 1690px #7a55d8, 1006px 100px #7a55d8, 353px 1048px #7a55d8,
    24px 1248px #7a55d8, 1028px 306px #7a55d8, 822px 882px #7a55d8, 482px 1785px #7a55d8,
    62px 265px #7a55d8, 1607px 1347px #7a55d8, 99px 1234px #7a55d8, 133px 469px #7a55d8,
    884px 402px #7a55d8, 1602px 1415px #7a55d8, 1169px 1837px #7a55d8, 1516px 177px #7a55d8,
    1385px 451px #7a55d8, 128px 1492px #7a55d8, 362px 1501px #7a55d8, 1719px 681px #7a55d8,
    410px 558px #7a55d8, 1239px 1749px #7a55d8, 1927px 576px #7a55d8, 1255px 1964px #7a55d8,
    399px 142px #7a55d8, 760px 780px #7a55d8, 771px 865px #7a55d8, 794px 66px #7a55d8,
    598px 1887px #7a55d8, 1616px 1071px #7a55d8, 193px 1564px #7a55d8, 888px 39px #7a55d8,
    773px 1596px #7a55d8, 76px 1272px #7a55d8, 1160px 1057px #7a55d8, 1436px 766px #7a55d8,
    132px 564px #7a55d8, 1881px 1232px #7a55d8, 1001px 1455px #7a55d8, 48px 772px #7a55d8,
    1886px 528px #7a55d8, 932px 546px #7a55d8, 769px 1727px #7a55d8, 1184px 166px #7a55d8,
    468px 608px #7a55d8, 1581px 94px #7a55d8, 1406px 123px #7a55d8, 1769px 700px #7a55d8,
    790px 1354px #7a55d8, 1665px 1903px #7a55d8, 1130px 1040px #7a55d8, 1147px 877px #7a55d8,
    1996px 1801px #7a55d8, 1943px 1363px #7a55d8, 91px 1136px #7a55d8, 1554px 1684px #7a55d8,
    409px 1984px #7a55d8, 1037px 1481px #7a55d8, 934px 1053px #7a55d8, 452px 864px #7a55d8,
    640px 1916px #7a55d8, 1569px 1859px #7a55d8, 1300px 1041px #7a55d8, 365px 1871px #7a55d8,
    1841px 1797px #7a55d8, 1573px 161px #7a55d8, 405px 1933px #7a55d8, 289px 680px #7a55d8,
    452px 1064px #7a55d8, 1728px 1107px #7a55d8, 469px 1563px #7a55d8, 1736px 1830px #7a55d8,
    702px 1586px #7a55d8, 1286px 362px #7a55d8, 685px 139px #7a55d8, 1269px 382px #7a55d8,
    907px 227px #7a55d8, 854px 484px #7a55d8, 1449px 1320px #7a55d8, 400px 109px #7a55d8,
    1907px 1989px #7a55d8, 1625px 93px #7a55d8, 1942px 1345px #7a55d8, 810px 944px #7a55d8,
    1807px 1180px #7a55d8, 62px 1070px #7a55d8, 484px 850px #7a55d8, 574px 1262px #7a55d8,
    899px 51px #7a55d8, 1494px 1607px #7a55d8, 735px 1761px #7a55d8, 723px 34px #7a55d8,
    873px 242px #7a55d8, 1308px 1735px #7a55d8, 806px 1605px #7a55d8, 1431px 750px #7a55d8,
    1549px 1117px #7a55d8, 663px 825px #7a55d8, 1194px 406px #7a55d8, 808px 667px #7a55d8,
    830px 1416px #7a55d8, 1023px 506px #7a55d8, 1297px 312px #7a55d8, 131px 139px #7a55d8,
    731px 1792px #7a55d8, 1319px 875px #7a55d8, 1994px 1375px #7a55d8, 584px 1592px #7a55d8,
    1871px 1798px #7a55d8, 1842px 1394px #7a55d8, 438px 295px #7a55d8, 612px 1477px #7a55d8,
    595px 180px #7a55d8, 44px 481px #7a55d8, 1882px 1447px #7a55d8, 493px 806px #7a55d8,
    1595px 1024px #7a55d8, 277px 1756px #7a55d8, 1745px 322px #7a55d8, 908px 447px #7a55d8,
    1259px 101px #7a55d8, 1450px 1297px #7a55d8, 528px 324px #7a55d8, 1285px 612px #7a55d8,
    1154px 1208px #7a55d8, 1048px 1588px #7a55d8, 1105px 1439px #7a55d8, 408px 900px #7a55d8;
}


#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1729px 793px #1d92d5, 1473px 923px #1d92d5, 1689px 1086px #1d92d5,
    273px 1209px #1d92d5, 456px 580px #1d92d5, 691px 1241px #1d92d5, 413px 31px #1d92d5,
    980px 1183px #1d92d5, 1501px 1031px #1d92d5, 537px 1479px #1d92d5, 54px 1912px #1d92d5,
    757px 166px #1d92d5, 1007px 1788px #1d92d5, 319px 27px #1d92d5, 803px 1637px #1d92d5,
    1384px 575px #1d92d5, 1450px 1971px #1d92d5, 1903px 425px #1d92d5, 291px 1691px #1d92d5,
    1241px 209px #1d92d5, 1523px 989px #1d92d5, 1257px 1739px #1d92d5, 678px 1344px #1d92d5,
    1689px 712px #1d92d5, 1406px 1703px #1d92d5, 697px 1751px #1d92d5, 1497px 784px #1d92d5,
    198px 1787px #1d92d5, 1942px 1706px #1d92d5, 781px 107px #1d92d5, 472px 964px #1d92d5,
    388px 1572px #1d92d5, 970px 1090px #1d92d5, 1375px 119px #1d92d5, 1062px 631px #1d92d5,
    137px 19px #1d92d5, 1922px 1182px #1d92d5, 512px 491px #1d92d5, 1108px 1916px #1d92d5,
    1259px 335px #1d92d5, 1593px 22px #1d92d5, 1010px 1081px #1d92d5, 1053px 1269px #1d92d5,
    688px 906px #1d92d5, 1475px 750px #1d92d5, 1907px 1150px #1d92d5, 1863px 221px #1d92d5,
    102px 1653px #1d92d5, 207px 70px #1d92d5, 1361px 1761px #1d92d5, 1527px 763px #1d92d5,
    745px 1203px #1d92d5, 723px 526px #1d92d5, 43px 505px #1d92d5, 1641px 1133px #1d92d5,
    1796px 246px #1d92d5, 271px 1536px #1d92d5, 1403px 591px #1d92d5, 1719px 178px #1d92d5,
    1361px 1124px #1d92d5, 1614px 294px #1d92d5, 423px 944px #1d92d5, 1878px 286px #1d92d5,
    209px 1539px #1d92d5, 1750px 1544px #1d92d5, 1884px 681px #1d92d5, 244px 1877px #1d92d5,
    1646px 638px #1d92d5, 1586px 922px #1d92d5, 1443px 1206px #1d92d5, 49px 221px #1d92d5,
    462px 1426px #1d92d5, 1849px 96px #1d92d5, 1803px 475px #1d92d5, 196px 1464px #1d92d5,
    185px 980px #1d92d5, 1243px 640px #1d92d5, 1853px 1160px #1d92d5, 1744px 377px #1d92d5,
    1280px 1842px #1d92d5, 1524px 930px #1d92d5, 137px 190px #1d92d5, 1128px 207px #1d92d5,
    274px 436px #1d92d5, 1348px 1274px #1d92d5, 678px 1460px #1d92d5, 1057px 1132px #1d92d5,
    596px 387px #1d92d5, 1373px 459px #1d92d5, 1562px 751px #1d92d5, 848px 1254px #1d92d5,
    763px 1967px #1d92d5, 179px 918px #1d92d5, 941px 1422px #1d92d5, 1411px 1300px #1d92d5,
    460px 240px #1d92d5, 345px 1909px #1d92d5, 1802px 497px #1d92d5, 1917px 1671px #1d92d5,
    1612px 1027px #1d92d5, 639px 398px #1d92d5, 1794px 1483px #1d92d5, 862px 161px #1d92d5,
    1113px 1069px #1d92d5, 277px 456px #1d92d5, 675px 1294px #1d92d5, 1699px 259px #1d92d5,
    1534px 1124px #1d92d5, 450px 1337px #1d92d5, 745px 1251px #1d92d5, 365px 855px #1d92d5,
    962px 164px #1d92d5, 76px 598px #1d92d5, 1208px 719px #1d92d5, 1598px 1119px #1d92d5,
    1896px 883px #1d92d5, 1048px 729px #1d92d5, 1974px 660px #1d92d5, 201px 1009px #1d92d5,
    1184px 68px #1d92d5, 1435px 989px #1d92d5, 1836px 1631px #1d92d5, 564px 231px #1d92d5,
    977px 449px #1d92d5, 38px 1511px #1d92d5, 287px 829px #1d92d5, 481px 733px #1d92d5,
    1155px 922px #1d92d5, 605px 676px #1d92d5, 267px 434px #1d92d5, 542px 1038px #1d92d5,
    1198px 49px #1d92d5, 388px 351px #1d92d5, 467px 889px #1d92d5, 852px 951px #1d92d5,
    1159px 1494px #1d92d5, 1795px 634px #1d92d5, 559px 1825px #1d92d5, 1762px 1292px #1d92d5,
    1742px 1365px #1d92d5, 1380px 1569px #1d92d5, 1558px 55px #1d92d5, 372px 777px #1d92d5,
    1315px 927px #1d92d5, 581px 1911px #1d92d5, 586px 395px #1d92d5, 1571px 1874px #1d92d5,
    1894px 1709px #1d92d5, 1978px 1160px #1d92d5, 1891px 352px #1d92d5, 449px 889px #1d92d5,
    123px 1348px #1d92d5, 227px 815px #1d92d5, 711px 1757px #1d92d5, 1061px 1352px #1d92d5,
    1809px 1491px #1d92d5, 783px 1560px #1d92d5, 1990px 1770px #1d92d5, 420px 932px #1d92d5,
    1277px 387px #1d92d5, 420px 250px #1d92d5, 325px 1445px #1d92d5, 895px 1228px #1d92d5,
    1168px 1636px #1d92d5, 1364px 1607px #1d92d5, 1748px 232px #1d92d5,
    1785px 1366px #1d92d5, 1850px 1571px #1d92d5, 1896px 1525px #1d92d5, 30px 817px #1d92d5,
    374px 1678px #1d92d5, 1730px 1074px #1d92d5, 73px 1952px #1d92d5, 1076px 1353px #1d92d5,
    1058px 854px #1d92d5, 1685px 588px #1d92d5, 805px 1534px #1d92d5, 1190px 362px #1d92d5,
    570px 1458px #1d92d5, 1931px 609px #1d92d5, 1705px 711px #1d92d5, 366px 902px #1d92d5,
    546px 1977px #1d92d5, 348px 1392px #1d92d5, 1372px 1766px #1d92d5, 1143px 1566px #1d92d5,
    1815px 1530px #1d92d5, 422px 1385px #1d92d5, 226px 917px #1d92d5, 1px 1104px #1d92d5,
    26px 367px #1d92d5, 846px 955px #1d92d5, 1677px 426px #1d92d5, 707px 1819px #1d92d5,
    545px 1195px #1d92d5, 960px 639px #1d92d5, 1073px 1980px #1d92d5, 1411px 99px #1d92d5,
    1468px 654px #1d92d5, 1898px 655px #1d92d5;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1729px 793px #1d92d5, 1473px 923px #1d92d5, 1689px 1086px #1d92d5,
    273px 1209px #1d92d5, 456px 580px #1d92d5, 691px 1241px #1d92d5, 413px 31px #1d92d5,
    980px 1183px #1d92d5, 1501px 1031px #1d92d5, 537px 1479px #1d92d5, 54px 1912px #1d92d5,
    757px 166px #1d92d5, 1007px 1788px #1d92d5, 319px 27px #1d92d5, 803px 1637px #1d92d5,
    1384px 575px #1d92d5, 1450px 1971px #1d92d5, 1903px 425px #1d92d5, 291px 1691px #1d92d5,
    1241px 209px #1d92d5, 1523px 989px #1d92d5, 1257px 1739px #1d92d5, 678px 1344px #1d92d5,
    1689px 712px #1d92d5, 1406px 1703px #1d92d5, 697px 1751px #1d92d5, 1497px 784px #1d92d5,
    198px 1787px #1d92d5, 1942px 1706px #1d92d5, 781px 107px #1d92d5, 472px 964px #1d92d5,
    388px 1572px #1d92d5, 970px 1090px #1d92d5, 1375px 119px #1d92d5, 1062px 631px #1d92d5,
    137px 19px #1d92d5, 1922px 1182px #1d92d5, 512px 491px #1d92d5, 1108px 1916px #1d92d5,
    1259px 335px #1d92d5, 1593px 22px #1d92d5, 1010px 1081px #1d92d5, 1053px 1269px #1d92d5,
    688px 906px #1d92d5, 1475px 750px #1d92d5, 1907px 1150px #1d92d5, 1863px 221px #1d92d5,
    102px 1653px #1d92d5, 207px 70px #1d92d5, 1361px 1761px #1d92d5, 1527px 763px #1d92d5,
    745px 1203px #1d92d5, 723px 526px #1d92d5, 43px 505px #1d92d5, 1641px 1133px #1d92d5,
    1796px 246px #1d92d5, 271px 1536px #1d92d5, 1403px 591px #1d92d5, 1719px 178px #1d92d5,
    1361px 1124px #1d92d5, 1614px 294px #1d92d5, 423px 944px #1d92d5, 1878px 286px #1d92d5,
    209px 1539px #1d92d5, 1750px 1544px #1d92d5, 1884px 681px #1d92d5, 244px 1877px #1d92d5,
    1646px 638px #1d92d5, 1586px 922px #1d92d5, 1443px 1206px #1d92d5, 49px 221px #1d92d5,
    462px 1426px #1d92d5, 1849px 96px #1d92d5, 1803px 475px #1d92d5, 196px 1464px #1d92d5,
    185px 980px #1d92d5, 1243px 640px #1d92d5, 1853px 1160px #1d92d5, 1744px 377px #1d92d5,
    1280px 1842px #1d92d5, 1524px 930px #1d92d5, 137px 190px #1d92d5, 1128px 207px #1d92d5,
    274px 436px #1d92d5, 1348px 1274px #1d92d5, 678px 1460px #1d92d5, 1057px 1132px #1d92d5,
    596px 387px #1d92d5, 1373px 459px #1d92d5, 1562px 751px #1d92d5, 848px 1254px #1d92d5,
    763px 1967px #1d92d5, 179px 918px #1d92d5, 941px 1422px #1d92d5, 1411px 1300px #1d92d5,
    460px 240px #1d92d5, 345px 1909px #1d92d5, 1802px 497px #1d92d5, 1917px 1671px #1d92d5,
    1612px 1027px #1d92d5, 639px 398px #1d92d5, 1794px 1483px #1d92d5, 862px 161px #1d92d5,
    1113px 1069px #1d92d5, 277px 456px #1d92d5, 675px 1294px #1d92d5, 1699px 259px #1d92d5,
    1534px 1124px #1d92d5, 450px 1337px #1d92d5, 745px 1251px #1d92d5, 365px 855px #1d92d5,
    962px 164px #1d92d5, 76px 598px #1d92d5, 1208px 719px #1d92d5, 1598px 1119px #1d92d5,
    1896px 883px #1d92d5, 1048px 729px #1d92d5, 1974px 660px #1d92d5, 201px 1009px #1d92d5,
    1184px 68px #1d92d5, 1435px 989px #1d92d5, 1836px 1631px #1d92d5, 564px 231px #1d92d5,
    977px 449px #1d92d5, 38px 1511px #1d92d5, 287px 829px #1d92d5, 481px 733px #1d92d5,
    1155px 922px #1d92d5, 605px 676px #1d92d5, 267px 434px #1d92d5, 542px 1038px #1d92d5,
    1198px 49px #1d92d5, 388px 351px #1d92d5, 467px 889px #1d92d5, 852px 951px #1d92d5,
    1159px 1494px #1d92d5, 1795px 634px #1d92d5, 559px 1825px #1d92d5, 1762px 1292px #1d92d5,
    1742px 1365px #1d92d5, 1380px 1569px #1d92d5, 1558px 55px #1d92d5, 372px 777px #1d92d5,
    1315px 927px #1d92d5, 581px 1911px #1d92d5, 586px 395px #1d92d5, 1571px 1874px #1d92d5,
    1894px 1709px #1d92d5, 1978px 1160px #1d92d5, 1891px 352px #1d92d5, 449px 889px #1d92d5,
    123px 1348px #1d92d5, 227px 815px #1d92d5, 711px 1757px #1d92d5, 1061px 1352px #1d92d5,
    1809px 1491px #1d92d5, 783px 1560px #1d92d5, 1990px 1770px #1d92d5, 420px 932px #1d92d5,
    1277px 387px #1d92d5, 420px 250px #1d92d5, 325px 1445px #1d92d5, 895px 1228px #1d92d5,
    1168px 1636px #1d92d5, 1364px 1607px #1d92d5, 1748px 232px #1d92d5,
    1785px 1366px #1d92d5, 1850px 1571px #1d92d5, 1896px 1525px #1d92d5, 30px 817px #1d92d5,
    374px 1678px #1d92d5, 1730px 1074px #1d92d5, 73px 1952px #1d92d5, 1076px 1353px #1d92d5,
    1058px 854px #1d92d5, 1685px 588px #1d92d5, 805px 1534px #1d92d5, 1190px 362px #1d92d5,
    570px 1458px #1d92d5, 1931px 609px #1d92d5, 1705px 711px #1d92d5, 366px 902px #1d92d5,
    546px 1977px #1d92d5, 348px 1392px #1d92d5, 1372px 1766px #1d92d5, 1143px 1566px #1d92d5,
    1815px 1530px #1d92d5, 422px 1385px #1d92d5, 226px 917px #1d92d5, 1px 1104px #1d92d5,
    26px 367px #1d92d5, 846px 955px #1d92d5, 1677px 426px #1d92d5, 707px 1819px #1d92d5,
    545px 1195px #1d92d5, 960px 639px #1d92d5, 1073px 1980px #1d92d5, 1411px 99px #1d92d5,
    1468px 654px #1d92d5, 1898px 655px #1d92d5;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1209px 145px #7a55d8, 84px 980px #7a55d8, 1623px 187px #7a55d8,
    586px 1271px #7a55d8, 159px 846px #7a55d8, 476px 1621px #7a55d8, 449px 466px #7a55d8,
    99px 1420px #7a55d8, 19px 457px #7a55d8, 466px 580px #7a55d8, 1395px 1953px #7a55d8,
    859px 1355px #7a55d8, 1040px 1584px #7a55d8, 713px 165px #7a55d8, 645px 120px #7a55d8,
    1264px 589px #7a55d8, 1766px 995px #7a55d8, 614px 719px #7a55d8, 717px 1001px #7a55d8,
    174px 1683px #7a55d8, 338px 595px #7a55d8, 1892px 1897px #7a55d8, 1111px 200px #7a55d8,
    444px 645px #7a55d8, 458px 1233px #7a55d8, 999px 1781px #7a55d8, 1771px 1243px #7a55d8,
    595px 744px #7a55d8, 622px 190px #7a55d8, 469px 1066px #7a55d8, 1358px 1374px #7a55d8,
    1598px 264px #7a55d8, 1435px 407px #7a55d8, 1455px 1901px #7a55d8, 713px 1378px #7a55d8,
    187px 281px #7a55d8, 408px 1354px #7a55d8, 1834px 1071px #7a55d8, 486px 1125px #7a55d8,
    1195px 118px #7a55d8, 192px 1646px #7a55d8, 10px 380px #7a55d8, 1199px 291px #7a55d8,
    1893px 1488px #7a55d8, 1651px 731px #7a55d8, 199px 571px #7a55d8, 942px 1470px #7a55d8,
    574px 1918px #7a55d8, 1691px 1705px #7a55d8, 1562px 474px #7a55d8, 507px 1957px #7a55d8,
    37px 507px #7a55d8, 1999px 1413px #7a55d8, 1446px 784px #7a55d8, 522px 1982px #7a55d8,
    1317px 1758px #7a55d8, 1966px 1425px #7a55d8, 212px 971px #7a55d8, 138px 745px #7a55d8,
    1619px 582px #7a55d8, 119px 1542px #7a55d8, 583px 648px #7a55d8, 953px 1994px #7a55d8,
    629px 1637px #7a55d8, 1502px 1676px #7a55d8, 849px 981px #7a55d8, 1649px 16px #7a55d8,
    1696px 1786px #7a55d8, 1214px 498px #7a55d8, 1250px 1051px #7a55d8, 108px 1669px #7a55d8,
    1443px 542px #7a55d8, 857px 473px #7a55d8, 474px 994px #7a55d8, 527px 167px #7a55d8,
    1589px 1523px #7a55d8, 322px 461px #7a55d8, 628px 1200px #7a55d8, 1983px 348px #7a55d8,
    1863px 823px #7a55d8, 1905px 959px #7a55d8, 1558px 241px #7a55d8, 1017px 1571px #7a55d8,
    1564px 659px #7a55d8, 1px 1624px #7a55d8, 729px 1069px #7a55d8, 1923px 1291px #7a55d8,
    503px 441px #7a55d8, 704px 1026px #7a55d8, 938px 1796px #7a55d8, 998px 927px #7a55d8,
    590px 268px #7a55d8, 474px 428px #7a55d8, 380px 44px #7a55d8, 1220px 1463px #7a55d8,
    1843px 1947px #7a55d8, 524px 1235px #7a55d8, 1512px 560px #7a55d8, 1598px 1369px #7a55d8,
    1600px 1375px #7a55d8;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1209px 145px #7a55d8, 84px 980px #7a55d8, 1623px 187px #7a55d8,
    586px 1271px #7a55d8, 159px 846px #7a55d8, 476px 1621px #7a55d8, 449px 466px #7a55d8,
    99px 1420px #7a55d8, 19px 457px #7a55d8, 466px 580px #7a55d8, 1395px 1953px #7a55d8,
    859px 1355px #7a55d8, 1040px 1584px #7a55d8, 713px 165px #7a55d8, 645px 120px #7a55d8,
    1264px 589px #7a55d8, 1766px 995px #7a55d8, 614px 719px #7a55d8, 717px 1001px #7a55d8,
    174px 1683px #7a55d8, 338px 595px #7a55d8, 1892px 1897px #7a55d8, 1111px 200px #7a55d8,
    444px 645px #7a55d8, 458px 1233px #7a55d8, 999px 1781px #7a55d8, 1771px 1243px #7a55d8,
    595px 744px #7a55d8, 622px 190px #7a55d8, 469px 1066px #7a55d8, 1358px 1374px #7a55d8,
    1598px 264px #7a55d8, 1435px 407px #7a55d8, 1455px 1901px #7a55d8, 713px 1378px #7a55d8,
    187px 281px #7a55d8, 408px 1354px #7a55d8, 1834px 1071px #7a55d8, 486px 1125px #7a55d8,
    1195px 118px #7a55d8, 192px 1646px #7a55d8, 10px 380px #7a55d8, 1199px 291px #7a55d8,
    1893px 1488px #7a55d8, 1651px 731px #7a55d8, 199px 571px #7a55d8, 942px 1470px #7a55d8,
    574px 1918px #7a55d8, 1691px 1705px #7a55d8, 1562px 474px #7a55d8, 507px 1957px #7a55d8,
    37px 507px #7a55d8, 1999px 1413px #7a55d8, 1446px 784px #7a55d8, 522px 1982px #7a55d8,
    1317px 1758px #7a55d8, 1966px 1425px #7a55d8, 212px 971px #7a55d8, 138px 745px #7a55d8,
    1619px 582px #7a55d8, 119px 1542px #7a55d8, 583px 648px #7a55d8, 953px 1994px #7a55d8,
    629px 1637px #7a55d8, 1502px 1676px #7a55d8, 849px 981px #7a55d8, 1649px 16px #7a55d8,
    1696px 1786px #7a55d8, 1214px 498px #7a55d8, 1250px 1051px #7a55d8, 108px 1669px #7a55d8,
    1443px 542px #7a55d8, 857px 473px #7a55d8, 474px 994px #7a55d8, 527px 167px #7a55d8,
    1589px 1523px #7a55d8, 322px 461px #7a55d8, 628px 1200px #7a55d8, 1983px 348px #7a55d8,
    1863px 823px #7a55d8, 1905px 959px #7a55d8, 1558px 241px #7a55d8, 1017px 1571px #7a55d8,
    1564px 659px #7a55d8, 1px 1624px #7a55d8, 729px 1069px #7a55d8, 1923px 1291px #7a55d8,
    503px 441px #7a55d8, 704px 1026px #7a55d8, 938px 1796px #7a55d8, 998px 927px #7a55d8,
    590px 268px #7a55d8, 474px 428px #7a55d8, 380px 44px #7a55d8, 1220px 1463px #7a55d8,
    1843px 1947px #7a55d8, 524px 1235px #7a55d8, 1512px 560px #7a55d8, 1598px 1369px #7a55d8,
    1600px 1375px #7a55d8;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.hidden {
  display: none !important;
}

.main-content {
  padding-left: 270px;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 600;
  position: relative;
}

.section-title h2::before {
  content: " ";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.section-title h2::after {
  content: " ";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* aside */

.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
  cursor: default;
}

.aside .logo span {
  font-family: "Sono", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: var(--text-black-900);
  padding: 20px;
}

/* .aside .logo span::before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}

.aside .logo span::after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
} */

.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
}

.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}

.aside .nav-toggler span::before {
  content: " ";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}

.aside .nav-toggler span::after {
  content: " ";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}

.aside .nav {
  margin-top: 50px;
}

.aside .nav li {
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  font-family: "Sono", sans-serif;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}

.aside .nav li a.active {
  color: var(--skin-color);
}

.aside .nav li a i {
  margin-right: 15px;
}

/* home */

.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}

.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}

h3.hello {
  font-size: 28px;
  margin: 15px 0;
  /* font-family: "Sono", sans-serif; */
}

h3.hello span {
  font-family: "Sono", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}

/* .name {
  background-color: #3494E6;
  background-image: linear-gradient(45deg, #EC6EAD, #3494E6);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
} */

h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  color: var(--skin-color);
}

.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}

.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}

.home-img::before {
  content: " ";
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  border-left: 10px solid var(--skin-color);
  border-top: 10px solid var(--skin-color);
  left: -20px;
  top: -40px;
}

.home-img::after {
  content: " ";
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: 20px;
  bottom: -40px;
}

.home .home-img img {
  margin: auto;
  height: 280px;
  border-radius: 250px;
  position: relative;
  right: 0;
}

/* about */

.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}

.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}

.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}

.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}

.about .about-content .personal-info .buttons {
  margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}

.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

.about .about-content .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.about .about-content .skills .skill-item {
  margin-bottom: 25px;
}

.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .skill-percent {
  position: absolute;
  right: 0;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}

.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}

.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
  color: var(--text-black-900);
}

.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
  content: " ";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
  margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}

/* service */

.service .container {
  padding-bottom: 40px;
}

.service .service-item {
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.service .service-item .service-item-inner {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3S ease;
}

.service .service-item .service-item-inner:hover {
  box-shadow:  0 0 20px rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.3 ease;
}

.service .service-item .service-item-inner:hover .icon {
  background: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa {
  font-size: 25px;
  color: #7a55d8;
}

.service .service-item .service-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}

.service .service-item .service-item-inner p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
}

/* portfolio */

.portfolio .container {
  padding-bottom: 40px;
}

.portfolio .portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.portfolio .portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}

.portfolio .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .portfolio-item-inner .portfolio-img img {
  width: 100%;
  display: block;
}

/* contact */

.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
}

.contact .contact-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}

.contact .contact-info-item .icon {
  display: inline-block;
}

.contact .contact-info-item .icon .fa {
  font-size: 25px;
  color: var(--skin-color);
}

.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  margin: 15px 0 5px;
}

.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}

.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .form-item {
  margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
  height: 140px;
}

.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
}